/* futura-pt-400 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FuturaPTBook.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('../fonts/FuturaPTBook.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* futura-pt-medium */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/FuturaPTMedium.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('../fonts/FuturaPTMedium.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* futura-pt-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/FuturaPTDemi.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('../fonts/FuturaPTDemi.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* futura-pt-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/FuturaPTBold.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('../fonts/FuturaPTBold.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ROOT */
:root {
  --main-bg-color: #F9F8F8;
  --header-btn_bg-text-color: #333333;
  --icon-btn-color: #FFBD54;
  --text-color: #949494;
  --hero-text-color: #78C0DE;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Futura PT", sans-serif; /* CHANGE */
  font-weight: 500; /* CHANGE */
  background-color: #F9F8F8;
  /* CHANGE */
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

/************** COMPANY INFO STYLE STARTS **************/
.section__company{
  background-color: #F9F8F8;
}

.company-information{
  /* background-color: #F9F8F8; */
  padding-left: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.company__adress{
  position: relative;
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 0;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--header-btn_bg-text-color);
}

.company__adress::before{
  display: block;
  content: url(../images/home_icon.svg);
  position: absolute;
  left: -19px;
}

.company__phones{
  position: relative;
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 0;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--header-btn_bg-text-color);
}

.company__phones::before{
  position: absolute;
  display: block;
  content: url(../images/phone_icon.svg);
  left: -20px;
}

.company__working-hours{
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--header-btn_bg-text-color);
}

.company__working-hours::before{
  position: absolute;
  display: block;
  content: url(../images/time_icon.svg);
  left: -20px;
}
/************** COMPANY INFO STYLE ENDS **************/
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** HEADER STYLES START **************/
.site-header{
  position: relative;
  /* background-color: #fff; */
  /* background-color: #F9F8F8; */
  background: linear-gradient(to bottom, #F9F8F8 50%, #fff 40%);
  
}

.header__wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site__header-link {
  position: absolute;
  z-index: 99;
  /* margin-right: 30px; */
}

.site__header-logo {
  width: 177px;
  height: 86px;
}

.site-nav{
  margin-left: 250px;
  display: flex;
}


.sitenav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav__item:not(:last-child){
  margin-right: 55px;
}

.sitenav__link{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-btn_bg-text-color);
}


.site__header-questionlink{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-btn_bg-text-color);
}

/************** HEADER STYLES END **************/

/************** MAIN STYLES START **************/
.site-body{
  background-color: #F9F9F9;
}
/************** QUOTR START *************/
.quote{
  padding-top: 100px;  
  background-image: url(../images/quote-open.svg),
  url(../images/quote-end.svg);
  background-color: #F9F9F9;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: calc(50% - 480px) calc(50% - 1px), 
  calc(50% + 480px) calc(50% + 75px);
}
.wrapper{
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 753px;
  text-align: center;
}
.site-quote{
  position: relative;
  display: inline-block;
  margin-bottom: 70px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}
.site-quote::before{
  position: absolute;
  left: 285px;
  top: -50px;
  width: 140px;
  height: 0;
  border: 1px solid #DBDBDB;
  content: "";
  display: block;
}
.site-quote::after{
  position: absolute;
  left: 285px;
  top: 115px;
  width: 140px;
  height: 0;
  border: 1px solid #DBDBDB;
  content: "";
  display: block;
}
.site-quote__subtitle{
  margin-bottom: 191px;
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}
/*****   SERVICES START   ****/
.services{
  position: relative;
}
.services-list::before{
  position: absolute;
  background-image: url(../images/right.svg);
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 15px;
  height: 25px;
  top: 90px;
  left: -60px;
}
.services-list::after{
  position: absolute;
  background-image: url(../images/left.svg);
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 15px;
  height: 25px;
  top: 90px;
  right: -60px;
}
.services-title{
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
}
.services-list{
  position: relative;
  margin-top: 0;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  
}
.services-item{
  padding: 30px 32px;
  width: 193px;
  height: 215px;
  text-align: center;
  background-color: #fff;
}
.services-item:not(:last-child){
  margin-right: 13px;
}
.services-icon{
  width: 75px;
  height: 75px;
  margin-bottom: 22px;
}

.services-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
}
.service{
  margin-top: 0;
  margin-bottom: 235px;
  display: inline-flex;
  justify-content: space-between;
}
.first-check__wrapper--start{
  width: 598px;
}
.first-check__wrapper--end{
  width: 492px;
}
.service-title{
  margin-top: 0;
  margin-bottom: 18px;
  padding-top: 74px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
}

.service-text{
  margin-top: 0;
  margin-bottom: 103px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.service-btn{
  display: flex;
  align-items: center;
  
}
.price{
  margin-right: 21px;
  padding: 15px 35px;
  color: #fff;
  background-color: #FFBD54;
  border-color: #F9F9F9;
  border-radius: 3px;
  width: 185px;
  height: 50px;
}
.price:hover{
  background-color: #FEC975;
}
.price:active{
  background-color: #FDD596;
}
.subscribe{
  margin-right: 21px;
  padding: 15px 37px;
  width: 241px;
  height: 50px;
  color: #fff;
  background-color: #333333;
  border-color: #F9F9F9;
  border-radius: 3px;
}
.subscribe:hover{
  background-color: #5B5B5B;
}
.subscribe:active{
  background-color: #838383;
}


/*************** QUOTR END **************/


/************** HERO SECTION STYLE STARTS **************/
.hero-section{
  padding-top: 153px;
  padding-bottom: 238px;
  background-color: #F9F8F8;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: calc(50% - 40px) calc(50% - 91px);
  
}

.hero__wrapper--end{
  margin-left: auto;
  width: 608px;
}


.hero__title{
  margin-top: 0;
  margin-bottom: 29px;
  /* width: 100%; */
  width: 680px;
  font-family: 'Futura PT';
  font-weight: 800;
  font-size: 70px;
  line-height: 64px;
  color: var(--header-btn_bg-text-color);
}

.hero__title--blue{
  color: var(--hero-text-color);
}

.hero__desc{
  margin-top: 0;
  margin-bottom: 38px;
  font-family: 'Futura PT';
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  width: 495px;
  color: var(--text-color);
}

.hero__link{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 48px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: #333333;
  border-radius: 3px;
}



/************** HERO SECTION STYLE ENDS **************/
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** CONNECTION SECTION STYLES START **************/
.connection {
  background-image: url('../images/Subscription.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 216px;
}

.connection_wrapper {
  margin-top: 127px;
  margin-bottom: 151px;
  padding-top: 177px;
  padding-bottom: 192px;
  
}

.connection__wrapper--start {
  margin-left: 100px;
}

.connection__title {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #fff;
}

.email {
  display: inline-block;
  margin-right: 21px;
  border: none;
  outline: none;
  width: 335px;
  padding: 18px 20px;  
  border-radius: 5px;
}

.email:placeholder-shown {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #949494;
  background-color: #fff;
}

.submitbtn {
  padding: 17px 51px;
  background-color: #333;
  border-radius: 3px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border: 1px solid #333;
  outline: none;
}
/************** CONNECTION SECTION STYLES END **************/
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** USEFULL SECTION STYLES START **************/

.usefull__wrapper {
  text-align: center;
}

.usefull__title{
  margin-top: 0;
  margin-bottom: 80px;
  font-family: 'Futura PT';
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  align-items: center;
  color: #333;
}

.usefull__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.usefull__list--item{
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  width: 305px;
}

.usefull__list--item:not(:last-child) {
  margin-right: 21px;
}

.usefull__list--end {
  text-align: left;
  padding: 21px;
}

.usefull__list--end .date {
  text-align: right;
}

.date {
  margin-bottom: 2px;
  display: block;
  margin-left: auto;
  /* font-family: 'Futura PT'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.usefull__item--title {
  margin-top: 0;
  margin-bottom: 10px;
  align-self: center;
  font-family: 'Futura PT';
  width: 182px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000;
}

.usefull__item--desc {
  margin-top: 0;
  margin-bottom: 38px;
  /* font-family: 'Futura PT'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  width: 244px;
}

.usefull__link {
  margin-left: 30px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333;
}

.usefull__link::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url('../images/pet.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.middle-card {
  width: 640px;
  display: flex;
}

.middle-card__start {
  width: 305px;
  height: 435px;
}

.middle-card--image {
  width: 100%;
  height: 435px;
}

.middle-card-title {
  margin-bottom: 15px;
}


.hash__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.middle-card__end {
  text-align: left;
  padding: 23px 30px;
}


.hash__item-link{
  /* font-family: 'Futura PT'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
}


/************** USEFULL SECTION STYLES END **************/

/************** MAIN STYLES END **************/


/************** FOOTER STYLES START **************/
.site-footer{
  padding-top: 54px;
  padding-bottom: 23px;
  /* background-color: #F9F8F8; */
}

.footer__wrapper{
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__img{
  margin-right: 67px;
}

/* .footer__list{
  margin-right: 100px;
} */

.footer__item{
  margin-bottom: 14px;
}

.footer__link{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-btn_bg-text-color);
}

/* .footer__list1{
  margin-right: 100px;
} */

.footer__item1{
  margin-bottom: 14px;
}

.footer__link1{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-btn_bg-text-color);
}

.footer__list2{
  position: relative;
}

.footer__item2{
  margin-bottom: 5px;
}

.footer__item2:nth-child(1):before{
  display: block;
  content: url(../images/time_icon.svg);
  position: absolute;
  left: -18px;
}

.footer__link2{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-btn_bg-text-color);
}


.footer__list3{
  position: relative;
}

.footer__item3{
  width: 157px;
  margin-bottom: 14px;
}

.footer__link3{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-btn_bg-text-color);
}

.footer__item3:nth-child(1):before{
  display: block;
  content: url(../images/home_icon.svg);
  position: absolute;
  left: -18px;
}

.footer__list4{
  position: relative;
}

.footer__item4{
  margin-bottom: 5px;
}

.footer__link4{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--header-btn_bg-text-color);
}

.footer__item4:nth-child(1):before{
  display: block;
  content: url(../images/phone_icon.svg);
  position: absolute;
  left: -18px;
}

.copyright_text{
  text-align: end;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5C5C5C;
}


/************** FOOTER STYLES END **************/

